@use '../../../../public/css/contsants';

.rotationPanel {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);

  width: 50%;
  height: 5rem;
  display: flex;
  border-radius: 10%;
  flex-direction: row;
  margin: 5px;

  align-items: center;

  justify-content: space-around;
  background: contsants.$base-color;
}
