.gameScreen {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);
  width: 21rem;
  height: 50%;
  display: flex;
  border-radius: 10%;
  flex-direction: row;
  margin: 12px;

  background: #d6e2ee;
}
