.playground-table {
  font-size: 0;
  margin: 10px 10px 10px 20px;

  height: 95%;
  line-height: 0;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/2;
}

.cell {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  min-width: 20px;
  min-height: 20px;

  width: 15px;
  height: 15px;

  @include pads {
    width: 15px;
    height: 15px;
  }
  @include small {
    width: 15px;
    height: 15px;
  }

  border: 0.01px solid rgba(0, 0, 255, 0.25);

  background-color: gray;
}

.cell0 {
  background-color: lightgray;
}

.cell1 {
  background-color: red;
}

.cell2 {
  background-color: orangered;
}

.cell3 {
  background-color: yellow;
}

.cell4 {
  background-color: green;
}
.cell5 {
  background-color: lightskyblue;
}

.cell6 {
  background-color: blue;
}
.cell7 {
  background-color: purple;
}
