@use 'public/css/contsants';
$lg-size: 4rem;
$md-size: 2rem;
$sm-size: 1rem;

.circleButton {
  display: inline-block;
  border: none;

  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;
  user-select: none;
}

.lgBtn {
  width: $lg-size;
  height: $lg-size;
}
.smBtn {
  width: $md-size;
  height: $md-size;
}

.redBack {
  background-color: red;
}

.transparentBac {
  background-color: transparent;
}
