.pauseLabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  user-select: none;
  font-size: 3rem;
  font-style: italic;
  color: #000066;
}
