main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('img/tetris-308986_1280.webp');
  background-repeat: no-repeat;
  background-size: 100vw;
}

header,
footer {
  height: 5vh;
  background-color: #0074d9;
}

tr {
  display: table-row;
  vertical-align: center;
}

table {
  border-collapse: collapse;
}

.w300 {
  width: 300px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}
