@use 'contsants';

* {
  padding: 0px;
}

.frame {
  border-radius: 7%;
  background-color: contsants.$base-color;
  width: 24rem;
  height: 45rem;
  //  padding: 10px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9), inset 0 0px 15px rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playground-table {
  font-size: 0;
  padding: 15px 15px 15px 20px;

  border-spacing: -1px;
  height: 100%;
  line-height: 0;
}
.next-piece-table {
  font-size: 0;
  padding: 15px 15px 15px 20px;
  border-spacing: 0px;
}

.cell {
  margin: 0px;
  padding: 0px;
  width: 15px;
  //padding-top: 0px;
  height: 15px;
  //padding: -1px;
  //margin: 0px;
  border: 0.1px solid silver;
  display: inline-table;
  background-color: gray;
}

.cellRed {
  background-color: red;
}

tr {
  line-height: 0px;
}

.gameScreen {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);
  width: 21rem;
  height: 25rem;
  display: flex;
  border-radius: 10%;
  flex-direction: row;
  margin: 10px;
  //height: 10rem;
  background: #d6e2ee;
}

.pauseBox {
  min-width: 20vh;
}
