@use 'contsants';
.gamePanel {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 4rem;
  display: flex;
  border-radius: 10%;
  flex-direction: row;
  justify-content: space-around;
  background: contsants.$base-color;
}
