.octoCatLogo {
  height: 32px;
  width: 32px;
  background: transparent;
  margin: 10px;
  padding: 10px;
}

.siteHeader {
  display: flex;
  justify-content: end;
  min-height: 50px;
}

.Footer-Toolbar {
  align-self: center;
  margin-left: auto;
}

.Footer-Greeting {
  align-self: center;
  margin-left: 20%;
  letter-spacing: 1.2rem;
}

$color1: #eede42;
$colorFontLow: #585ae7;
$colorFontHigh: #f60528;

.sign {
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  width: 60%;
  height: 20%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    $color1,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 0.2em;
  top: 2%;

  font-family: Tetris2-VP0w;
  text-transform: uppercase;
  font-size: 2em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem $colorFontHigh,
    -0.2rem 0.1rem 1rem $colorFontLow, 0.2rem 0.1rem 1rem $colorFontHigh,
    0 -0.5rem 2rem $colorFontLow, 0 0.5rem 3rem $colorFontHigh;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem $colorFontLow, 0 0 1.5rem $colorFontHigh,
      -0.2rem 0.1rem 1rem $colorFontLow, 0.2rem 0.1rem 1rem $colorFontHigh,
      0 -0.5rem 2rem $colorFontLow, 0 0.5rem 3rem $colorFontHigh;
  }
  28%,
  33% {
    color: #2428ff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #2428ff;
    text-shadow: none;
  }
}

.flicker {
  margin: 10px;
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  margin: 20px;
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #186b23ff;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #2428ff,
      -0.2rem 0.1rem 1rem rgba(101, 255, 209, 0.73), 0.2rem 0.1rem 1rem #2428ff,
      0 -0.5rem 2rem #65ffd1ff, 0 0.5rem 3rem #2428ff;
  }
}

@keyframes shine_red {
  0% {
    color: #186b23ff;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #f5052a,
      -0.2rem 0.1rem 1rem rgba(236, 16, 165, 0.73), 0.2rem 0.1rem 1rem #f5052a,
      0 -0.5rem 2rem rgba(236, 16, 165, 0.73), 0 0.5rem 3rem #f5052a;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
