@use '../../../../../public/css/contsants';

.rotationPanel {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);

  width: 50%;
  //height: 90%;
  //max-height: 100px;
  //display: flex;
  border-radius: 10%;
  //flex-direction: row;
  margin: 5px;
  padding: 3px;

  align-items: center;

  justify-content: space-around;
  background: contsants.$base-color;

  display: flex;

  //padding: 10px ;
}

.circleButton {
  display: inline-block;
  border: none;

  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;
  user-select: none;
}

.btnBackColor {
  background-color: contsants.$button-color;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6),
    inset 0 0px 10px rgba(0, 0, 0, 0.05);
}

.transparentBac {
  background-color: transparent;
}
