@use 'public/css/contsants';

.frame {
  border-radius: 7%;
  background-color: contsants.$base-color;
  width: 90rem;
  height: 75%;
  min-width: 400px;
  max-width: 400px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9), inset 0 0px 15px rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.next-piece-table {
  font-size: 0;
  padding: 15px 15px 15px 20px;
  border-spacing: 0px;
}

.cell {
  margin: 0px;
  padding: 0px;
  width: 15px;

  height: 15px;

  border: 0.1px solid silver;
  display: inline-table;
  background-color: gray;
}

.cellRed {
  background-color: red;
}

tr {
  line-height: 0px;
}

.pauseBox {
  min-width: 20vh;
}
