@use '../../../public/css/contsants';

.frame {
  border-radius: 7%;
  background-color: contsants.$base-color;
  height: 75%;

  min-height: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9), inset 0 0 15px rgba(0, 0, 0, 0.7);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  aspect-ratio: 1 /2;

  @include small {
    min-width: 20rem;
    background-color: red;
  }
}

tr {
  line-height: 0px;
}

.pauseBox {
  min-width: 20vh;
}
