@use '../../../public/css/contsants';

.sound-block {
  font-size: 0.5rem;
  letter-spacing: 0.75rem;
  user-select: none;
}

.titleBar {
  border-radius: 10%;
  background-color: contsants.$base-color;
  width: 21rem;
  height: 10%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6), inset 0 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  padding-left: 0.6rem;
}

.tetrisFont {
  font-family: 'Tetris2-VP0w';
  font-size: 2.9rem;
  font-weight: bold;
  color: red;
  margin-block-start: 0px;
  margin-block-end: 0px;
  letter-spacing: 1.3rem;
}

.colorT1 {
  color: blue;
}
.colorE {
  color: red;
}
.colorT2 {
  color: forestgreen;
}
.colorR {
  color: white;
}
.colorI {
  color: yellow;
}
.colorS {
  color: orangered;
}
