.siteFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.2rem;
  font-size: 1.5rem;
}

.labelColorWhite {
  color: white;
}
.labelColorRed {
  color: red;
}
.labelColorGreen {
  color: #52e752;
}
.labelColorOrange {
  color: #ef5d28;
}

.labelColorBlue {
  color: #0429a2;
}
.labelColorYellow {
  color: #eed860;
}

.Footer-Label__left,
.Footer-Label__right {
  font-weight: bold;
}

.Footer-Label__left {
  padding-right: 10px;
}

.Footer-Label__right {
  padding-left: 10px;
}
